Repository dsldevkit/dsl-devkit, changes with the owners that CODEOWNERS names for each.
All owners: @dsldevkit/codeowners, @dsldevkit/sca, @dsldevkit/testing-base, @dsldevkit/base, @dsldevkit/builder, @dsldevkit/scoping, @dsldevkit/formatting, @dsldevkit/build

Remove newline in generator introduced with commit 614ec85
  com.avaloq.tools.ddk.check.core/src/com/avaloq/tools/ddk/check/generator/CheckGenerator.xtend
Owners: @dsldevkit/sca

#103: CHECKCFG allows duplicate languages
  com.avaloq.tools.ddk.checkcfg.core.test/src/com/avaloq/tools/ddk/checkcfg/test/CheckCfgTestSuite.java
  com.avaloq.tools.ddk.checkcfg.core.test/src/com/avaloq/tools/ddk/checkcfg/validation/CheckCfgDuplicateChecksTest.xtend
  com.avaloq.tools.ddk.checkcfg.core/src/com/avaloq/tools/ddk/checkcfg/validation/CheckCfgJavaValidator.java
  com.avaloq.tools.ddk.checkcfg.core/src/com/avaloq/tools/ddk/checkcfg/validation/IssueCodes.java
  com.avaloq.tools.ddk.checkcfg.core/src/com/avaloq/tools/ddk/checkcfg/validation/Messages.java
  com.avaloq.tools.ddk.checkcfg.core/src/com/avaloq/tools/ddk/checkcfg/validation/messages.properties
  com.avaloq.tools.ddk.checkcfg.ui/src/com/avaloq/tools/ddk/checkcfg/ui/quickfix/CheckCfgQuickfixProvider.java
  com.avaloq.tools.ddk.checkcfg.ui/src/com/avaloq/tools/ddk/checkcfg/ui/quickfix/Messages.java
  com.avaloq.tools.ddk.checkcfg.ui/src/com/avaloq/tools/ddk/checkcfg/ui/quickfix/messages.properties
Owners: @dsldevkit/sca

Add interface ObsoleteElement that the elements that could be tagged as obsolete may implement.
  com.avaloq.tools.ddk.typesystem/model/TypeModel.ecore
  com.avaloq.tools.ddk.typesystem/model/TypeModel.genmodel
  com.avaloq.tools.ddk.typesystem/plugin.properties
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/builtintypemodel/BuiltInTypeModel.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/builtintypemodel/InternalType.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/builtintypemodel/impl/BuiltInTypeModelImpl.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/builtintypemodel/impl/InternalTypeImpl.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/builtintypemodel/util/BuiltInTypeModelSwitch.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/typemodel/ObsoleteElement.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/typemodel/TypeModelPackage.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/typemodel/impl/CallableImpl.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/typemodel/impl/NamedElementImpl.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/typemodel/impl/NamedFormalParameterImpl.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/typemodel/impl/NamedTypeImpl.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/typemodel/impl/ObsoleteElementImpl.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/typemodel/impl/TypeModelPackageImpl.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/typemodel/provider/ObsoleteElementItemProvider.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/typemodel/util/TypeModelAdapterFactory.java
  com.avaloq.tools.ddk.typesystem/src-gen/com/avaloq/tools/ddk/typesystem/typemodel/util/TypeModelSwitch.java
Owners: @dsldevkit/base

Add logging to ExtendableInferredModelAssociator
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/modelinference/ExtendableInferredModelAssociator.java
Owners: @dsldevkit/base

Make IGrammarAccess optional
  com.avaloq.tools.ddk.check.runtime.core/src/com/avaloq/tools/ddk/check/runtime/validation/DefaultCheckValidator.java
Owners: @dsldevkit/sca

More specific pointer to Xtext update site
  com.avaloq.tools.ddk.xtext.generator/META-INF/MANIFEST.MF
  ddk-target/ddk.target
Owners: @dsldevkit/base, @dsldevkit/build

Target file update for Xtext 2.13
  com.avaloq.tools.ddk.check.core.test/META-INF/MANIFEST.MF
  com.avaloq.tools.ddk.check.core/src/com/avaloq/tools/ddk/check/generator/CheckCompiler.java
  com.avaloq.tools.ddk.check.test.runtime.tests/META-INF/MANIFEST.MF
  com.avaloq.tools.ddk.checkcfg.core.test/META-INF/MANIFEST.MF
  com.avaloq.tools.ddk.xtext.generator/src/com/avaloq/tools/ddk/xtext/generator/serializer/AbstractFixedSemanticSequencer.xtend
  com.avaloq.tools.ddk.xtext.generator/src/com/avaloq/tools/ddk/xtext/generator/serializer/SerializerFragment.xtend
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/resource/persistence/DirectLinkingResourceStorageLoadable.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/serializer/IndentingSerializer.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/serializer/sequencer/ReorderingHiddenTokenSequencer.java
  ddk-target/ddk.target
Owners: @dsldevkit/sca, @dsldevkit/base, @dsldevkit/build

Fix unit tests failing after Xtext upgrade
  com.avaloq.tools.ddk.check.ui/src/com/avaloq/tools/ddk/check/ui/wizard/CheckProjectCreator.java
  com.avaloq.tools.ddk.xtext.test.core/src/com/avaloq/tools/ddk/xtext/test/AbstractXtextMarkerBasedTest.java
  com.avaloq.tools.ddk.xtext.test.core/src/com/avaloq/tools/ddk/xtext/test/PluginTestProjectManager.java
  com.avaloq.tools.ddk.xtext.test.core/src/com/avaloq/tools/ddk/xtext/test/generator/AbstractGeneratorTest.java
  com.avaloq.tools.ddk.xtext.test/AllTests DDK.launch
  com.avaloq.tools.ddk.xtext.test/AllTests DSLSDK.launch
  com.avaloq.tools.ddk.xtext.ui.test/src/com/avaloq/tools/ddk/xtext/ui/quickfix/WorkbenchResolutionAdaptorRunTest.java
  ddk-configuration/launches/devkit-run.launch
Owners: @dsldevkit/sca, @dsldevkit/codeowners, @dsldevkit/base, @dsldevkit/build

Correct target file
  ddk-target/ddk.target
Owners: @dsldevkit/build

More specific path for Neon in target file
  ddk-target/ddk.target
Owners: @dsldevkit/build

Allow custom post format action on the String value of ExtendedLineEntry that has preserve format.
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/formatting/ExtendedLine.java
Owners: @dsldevkit/base

Performance: Improve opening of editor
  com.avaloq.tools.ddk.xtext.ui/src/com/avaloq/tools/ddk/xtext/ui/syntaxcoloring/FixedHighlightingReconciler.java
Owners: @dsldevkit/base

Enhance EObjectUtil#eContainer to alternatively accept a predicate.
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/util/EObjectUtil.java
Owners: @dsldevkit/base

Remove guava version constraint
  com.avaloq.tools.ddk.xtext.generator/META-INF/MANIFEST.MF
  com.avaloq.tools.ddk.xtext/META-INF/MANIFEST.MF
Owners: @dsldevkit/base

Provide convenience methods to conditionally expect markers in tests.
  com.avaloq.tools.ddk.xtext.test.core/src/com/avaloq/tools/ddk/xtext/test/validation/AbstractValidationTest.java
Owners: @dsldevkit/codeowners

#117: Fix memory leak in AbstractTypeProvider
  com.avaloq.tools.ddk.typesystem/src/com/avaloq/tools/ddk/typesystem/AbstractTypeProvider.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/scoping/AbstractPolymorphicScopeProvider.java
Owners: @dsldevkit/base

Performance: Reduce memory footprint of index lookup AST
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/naming/QualifiedNameSegmentTreeLookup.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/naming/TreeSetLookup.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/util/ArrayUtils.java
Owners: @dsldevkit/base

#120: Do not ignore the index of diagnostics in validation tests
  com.avaloq.tools.ddk.xtext.test.core/src/com/avaloq/tools/ddk/xtext/test/validation/AbstractValidationTest.java
Owners: @dsldevkit/codeowners

Improve performance of fragment providers
  com.avaloq.tools.ddk.xtext.export/src/com/avaloq/tools/ddk/xtext/export/generator/FragmentProviderGenerator.xtend
  com.avaloq.tools.ddk.xtext.test/src/com/avaloq/tools/ddk/xtext/linking/AbstractFragmentProviderTest.java
  com.avaloq.tools.ddk.xtext.test/src/com/avaloq/tools/ddk/xtext/resource/AbstractSelectorFragmentProviderTest.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/linking/AbstractFragmentProvider.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/linking/ShortFragmentProvider.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/resource/AbstractExportFeatureExtension.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/resource/AbstractSelectorFragmentProvider.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/resource/DefaultExportFeatureExtensionService.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/resource/IExportComputer.java
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/resource/PatternAwareEObjectDescriptionLookUp.java
Owners: @dsldevkit/scoping, @dsldevkit/codeowners, @dsldevkit/base

#123: Fix testing different quickfixes for the same issue code
  com.avaloq.tools.ddk.xtext.test.core/src/com/avaloq/tools/ddk/xtext/test/ui/quickfix/AbstractQuickFixTest.java
Owners: @dsldevkit/codeowners

Assert for linking errors that has customized message in AbstractValidationTest
  com.avaloq.tools.ddk.xtext.test.core/src/com/avaloq/tools/ddk/xtext/test/validation/AbstractValidationTest.java
Owners: @dsldevkit/codeowners

#125: Don't install derived state for resources loaded from storage
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/linking/LazyLinkingResource2.java
Owners: @dsldevkit/base

Add convenience methods for linking and scoping tests
  com.avaloq.tools.ddk.xtext.test.core/src/com/avaloq/tools/ddk/xtext/test/scoping/AbstractScopingTest.java
Owners: @dsldevkit/codeowners

Fix generation for Xtend isInstance() operation
  com.avaloq.tools.ddk.xtext.expression/src/com/avaloq/tools/ddk/xtext/expression/generator/CodeGenerationX.xtend
  com.avaloq.tools.ddk.xtext.scope/src/com/avaloq/tools/ddk/xtext/scope/generator/ScopingGeneratorUtil.java
Owners: @dsldevkit/scoping

ClassRunner now extends XtextRunner.
  com.avaloq.tools.ddk.check.ui.test/src/com/avaloq/tools/ddk/check/ui/test/CheckCatalogWizardTest.java
  com.avaloq.tools.ddk.check.ui.test/src/com/avaloq/tools/ddk/check/ui/test/CheckProjectWizardTest.java
  com.avaloq.tools.ddk.test.core/META-INF/MANIFEST.MF
  com.avaloq.tools.ddk.test.core/src/com/avaloq/tools/ddk/test/core/junit/runners/ClassRunner.java
  com.avaloq.tools.ddk.test.ui/META-INF/MANIFEST.MF
  com.avaloq.tools.ddk.xtext.test.core/src/com/avaloq/tools/ddk/xtext/test/ui/folding/AbstractFoldingTest.java
  com.avaloq.tools.ddk.xtext.test/AllTests DSLSDK.launch
  com.avaloq.tools.ddk.xtext.test/src/com/avaloq/tools/ddk/xtext/linking/ShortFragmentProviderTest.java
  com.avaloq.tools.ddk.xtext.test/src/com/avaloq/tools/ddk/xtext/naming/QualifiedNamePatternTest.java
  com.avaloq.tools.ddk.xtext.ui.test/META-INF/MANIFEST.MF
Owners: @dsldevkit/sca, @dsldevkit/testing-base, @dsldevkit/codeowners, @dsldevkit/base

Fix generation for Xtend isInstance() operation in Export DSL
  com.avaloq.tools.ddk.xtext.export/src/com/avaloq/tools/ddk/xtext/export/generator/ExportGeneratorSupport.java
  com.avaloq.tools.ddk.xtext.scope/src/com/avaloq/tools/ddk/xtext/scope/generator/ScopingGeneratorUtil.java
Owners: @dsldevkit/scoping

com.avaloq.tools.ddk.test.core now re-exports org.eclipse.xtext.junit4
  com.avaloq.tools.ddk.test.core/META-INF/MANIFEST.MF
  com.avaloq.tools.ddk.test.ui/META-INF/MANIFEST.MF
  com.avaloq.tools.ddk.xtext.ui.test/META-INF/MANIFEST.MF
Owners: @dsldevkit/testing-base, @dsldevkit/base

Add utility for combining trace configurations.
  com.avaloq.tools.ddk.xtext/src/com/avaloq/tools/ddk/xtext/tracing/TraceConfiguration.java
Owners: @dsldevkit/base

CODEOWNERS:

# Default owners for everything in the repo. 
#
# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Team of all compo owners is the default owner.
*                                                      @dsldevkit/codeowners

# SCA
/com.avaloq.tools.ddk.check.*/**                       @dsldevkit/sca
/com.avaloq.tools.ddk.checkcfg.*/**                    @dsldevkit/sca

# Valid DSL (obsolete SCA)
/com.avaloq.tools.ddk.xtext.valid*/**                  @dsldevkit/sca

# Generating workflow
/com.avaloq.tools.ddk.workflow/**                      @dsldevkit/codeowners

# Testing base
/com.avaloq.tools.ddk.test.core/**                     @dsldevkit/testing-base
/com.avaloq.tools.ddk.test.ui/**                       @dsldevkit/testing-base
/com.avaloq.tools.ddk.test.ui.test/**                  @dsldevkit/testing-base

# Test suite for DDK
/com.avaloq.tools.ddk.xtext.test/**                    @dsldevkit/codeowners

# Foundation
/com.avaloq.tools.ddk.typesystem/**                    @dsldevkit/base
/com.avaloq.tools.ddk.typesystem.test/**               @dsldevkit/base
/com.avaloq.tools.ddk.xtext/**                         @dsldevkit/base
/com.avaloq.tools.ddk.xtext.ui/**                      @dsldevkit/base
/com.avaloq.tools.ddk.xtext.ui.test/**                 @dsldevkit/base
/com.avaloq.tools.ddk.xtext.common.types/**            @dsldevkit/base
/com.avaloq.tools.ddk.xtext.common.types.ui/**         @dsldevkit/base
/com.avaloq.tools.ddk.xtext.common.ui/**               @dsldevkit/base
/com.avaloq.tools.ddk.xtext.generator/**               @dsldevkit/base
/com.avaloq.tools.ddk.xtext.generator.test/**          @dsldevkit/base

# Builder
/com.avaloq.tools.ddk.xtext.builder/**                 @dsldevkit/builder
/com.avaloq.tools.ddk.xtext.builder.ui/**              @dsldevkit/builder

# Expression (helper DSL used by Export and Scope)
/com.avaloq.tools.ddk.xtext.expression*/**             @dsldevkit/scoping

# Export DSL
/com.avaloq.tools.ddk.xtext.export*/**                 @dsldevkit/scoping

# Scope DSL
/com.avaloq.tools.ddk.xtext.scope*/**                  @dsldevkit/scoping

# Format DSL
/com.avaloq.tools.ddk.xtext.format*/**                 @dsldevkit/formatting

# Test DSL
/com.avaloq.tools.ddk.xtext.test.core/**               @dsldevkit/codeowners


# Xtext spy tool
/com.avaloq.tools.ddk.xtextspy*/**                     @dsldevkit/codeowners

# Build and packaging
/com.avaloq.tools.ddk.feature/**                       @dsldevkit/build
/com.avaloq.tools.ddk.runtime.feature/**               @dsldevkit/build
/com.avaloq.tools.ddk.runtime.source.feature/**        @dsldevkit/build
/com.avaloq.tools.ddk.source.feature/**                @dsldevkit/build
/ddk-configuration/**                                  @dsldevkit/build
/ddk-parent/**                                         @dsldevkit/build
/ddk-repository/**                                     @dsldevkit/build
/ddk-target/**                                         @dsldevkit/build
